<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- title -->
    <title>Login</title>
</head>
<body>
<div>
    <!-- <h1>Login to access this site</h1>
    <p>No idea about username and password? Go and ask your service provider.</p><br> <a href="/">I think I`ve already logged in -></a>
    <hr> -->
    <!-- <center> -->
        <form method="post"><label> <input name="user" type="text"></label>
            <br><label>
            <input name="psw" type="password"></label><br>
            <input name="Login" type="submit"><br><br>
            <p>{{msg}}</p>
        </form>
    <!-- </center> -->
    <br>
    <p>Powered by D2Lib</p>
</div>
</body>
</html>